body h1{
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 38px;
    margin-left: 13px;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Paragraph */
p{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: grey;
    margin-left: 20px;
}

.home{
    background-color: hsl(30, 38%, 92%);
}

img{
    height: 400px;
    width: auto;
}
.main{
    display: flex;
    background-color: white;
    margin: auto;
    width: 500px;
    margin-top: 75px;
}
.text{
    display: flex;
    flex-direction: column;
}

.price{
    display: flex;
    margin-top: -8px;
}

.current_price{
    color:rgb(48, 127, 42);
}

.orignal_price{
    text-decoration: line-through;
    font-size: 19px;
    font-weight: 200;
}

.but{font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    color: white;
    background-color: rgb(48, 127, 42);
    border-width: inherit;
    width: fit-content;
    padding: 8px 20px;
    margin: auto;
    border-radius: 7.8px;
    margin-top: 5px
}

.foot{
    font-size: x-small;
}